name: Deploy React App to S3

on:
  push:
    branches:
      - develop
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd my-react-app-2
          npm install

      - name: Build
        run: |
          cd my-react-app-2
          npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to DEV
        if: github.ref == 'refs/heads/develop'
        run: |
          cd my-react-app-2
          aws s3 sync dist s3://my-react-vite-dev-2026 --delete

      - name: Deploy to PROD
        if: github.ref == 'refs/heads/main'
        run: |
          cd my-react-app-2
          aws s3 sync dist s3://my-react-vite-prod-2026 --delete
