name: Deploy React App to S3

on:
  push:
    branches:
      - develop
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd my-react-app-2
          npm install

      - name: Build
        run: |
          cd my-react-app-2
          npm run build

      - name: Deploy to S3
        run: |
          cd my-react-app-2
          aws s3 sync dist s3://my-react-vite-dev-2026 --delete
